<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--<connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" defaultUrl="~/Pages/Index.aspx" timeout="20" />
		</authentication>
		<authorization>
			<allow users="?" />
		</authorization>
		<!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>-->
		<!--<profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>-->
		<!--<roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->
		<!--<httpHandlers>
      <add verb="POST,GET" path="InitToken" type="Bsr.Cloud.WebEntry.RestService.InitToken,Bsr.Cloud.WebEntry" />
      <add verb="POST,GET" path="CheckToken" type="Bsr.Cloud.WebEntry.RestService.BPServerCheckToken,Bsr.Cloud.WebEntry" />
      <add verb="POST,GET" path="CheckCustomer" type="Bsr.Cloud.WebEntry.RestService.CheckCustomer,Bsr.Cloud.WebEntry" />
    </httpHandlers>-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
	<!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->
	<system.serviceModel>
		<services>
			<service name="Bsr.Cloud.WebEntry.RestService.Hello">
				<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="Bsr.Cloud.WebEntry.RestService.IHello" />
				<!-- <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
			</service>
			<service name="Bsr.Cloud.WebEntry.RestService.Common">
				<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="Bsr.Cloud.WebEntry.RestService.ICommon" />
			</service>
			<service name="Bsr.Cloud.WebEntry.RestService.Customer">
				<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="Bsr.Cloud.WebEntry.RestService.ICustomer" />
			</service>
			<service name="Bsr.Cloud.WebEntry.RestService.ResourceGroup">
				<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="Bsr.Cloud.WebEntry.RestService.IResourceGroup" />
			</service>
			<service name="Bsr.Cloud.WebEntry.RestService.Device">
				<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="Bsr.Cloud.WebEntry.RestService.IDevice" />
			</service>
			<service name="Bsr.Cloud.WebEntry.RestService.Channel">
				<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="Bsr.Cloud.WebEntry.RestService.IChannel" />
			</service>
			<service name="Bsr.Cloud.WebEntry.RestService.OperaterLog">
				<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="Bsr.Cloud.WebEntry.RestService.IOperaterLog" />
			</service>
			<service name="Bsr.Cloud.WebEntry.RestService.UserFavorite">
				<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="Bsr.Cloud.WebEntry.RestService.IUserFavorite" />
			</service>
		</services>
		<bindings>
			<webHttpBinding>
				<!--请求的最大字符数-->
				<binding maxBufferSize="20480000" maxReceivedMessageSize="20480000">
					<readerQuotas maxStringContentLength="20480000" maxArrayLength="20480000" />
					<!-- 如果设置 mode 为 Transport,则所有的REST请求必须是HTTPS方式访问，普通HTTP方式将被拒绝。
               前题是IIS启用了HTTPS，并可正常提供HTTPS的WEB服务。 -->
					<!-- <security mode="Transport"> -->
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<add relativeAddress="Hello.svc" service="Bsr.Cloud.WebEntry.RestService.Hello" />
				<add relativeAddress="ServiceCommon.svc" service="Bsr.Cloud.WebEntry.RestService.Common" />
				<add relativeAddress="ServiceCustomer.svc" service="Bsr.Cloud.WebEntry.RestService.Customer" />
				<add relativeAddress="ResourceGroup.svc" service="Bsr.Cloud.WebEntry.RestService.ResourceGroup" />
				<add relativeAddress="Device.svc" service="Bsr.Cloud.WebEntry.RestService.Device" />
				<add relativeAddress="Channel.svc" service="Bsr.Cloud.WebEntry.RestService.Channel" />
				<add relativeAddress="OperaterLog.svc" service="Bsr.Cloud.WebEntry.RestService.OperaterLog" />
				<add relativeAddress="UserFavorite.svc" service="Bsr.Cloud.WebEntry.RestService.UserFavorite" />
			</serviceActivations>
		</serviceHostingEnvironment>
	</system.serviceModel>
	<system.serviceModel>
		<behaviors>
			<!-- webHttp节点表示启用web方式访问，这对REST是非常关键的 -->
			<endpointBehaviors>
				<behavior name="WebBehavior">
					<webHttp />
					<dataContractSerializer maxItemsInObjectGraph="20480000" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
					<serviceMetadata httpGetEnabled="false" />
					<!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
					<serviceDebug includeExceptionDetailInFaults="false" />
					<!--请求的最大字符数-->
					<dataContractSerializer maxItemsInObjectGraph="20480000" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<defaultDocument>
			<files>
				<remove value="index.html" />
				<remove value="default.aspx" />
				<remove value="Index.aspx" />
				<remove value="iisstart.htm" />
				<remove value="index.htm" />
				<remove value="Default.asp" />
				<remove value="Default.htm" />
                <add value="default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
